include ../_ui/button/button
include ../_ui/input/input
include ../_ui/code/code
include ../_ui/approved/approved
include ../_ui/checkbox/checkbox

mixin settings
  section.settings.container
    .wrapper
      p.settings__heading Настройки
      .settings__head
        p.settings__head-title Настройки
        .settings__head-filter.js-settings-filter
          a.settings__head-filter-item.js-settings-filter-item(href="settings.html") Общие
          .settings__head-filter-inner.js-settings-filter-inner
            a.settings__head-filter-item.js-settings-filter-item(href="security.html") Безопасность
            a.settings__head-filter-item.js-settings-filter-item(href="preferences.html") Предпочтения
            a.settings__head-filter-item.js-settings-filter-item(href="blacklist.html") Чёрный список
            a.settings__head-filter-item.js-settings-filter-item(href="seessions.html") Сессии
            a.settings__head-filter-item.js-settings-filter-item(href="verification.html") Верификация
      .settings__grid
        aside.settings__sidebar
          .settings__filter
            a.settings__link.settings__link--active(href="settings.html") Общие
            a.settings__link(href="security.html") Безопасность
            a.settings__link(href="preferences.html") Предпочтения
            a.settings__link(href="blacklist.html") Чёрный список
            a.settings__link(href="sessions.html") Сессии
            a.settings__link(href="verification.html") Верификация
        main.settings__main
          .settings__col
            form.settings__card(action="")
              +input('email', 'Электронная почта', 'email', 'Введите e-mail', 'tellmeimamazing@gmail.com', 'settings__input')
              +button-primary('submit', 'Отправить подтверждение')
            form.settings__card(action="")
              +input('text', 'Telegram', 'telegram', 'Имя пользователя Telegram', 'tellmeimamazing@gmail.com', 'settings__input')
              +input('text', 'Skype', 'skype', 'Skype ID', 'tellmeimamazing@gmail.com', 'settings__input')
              +button-primary('submit', 'Сохранить изменения')
          .settings__col
            form.settings__card(action="")
              .settings__phone
                .settings__phone-col
                  +input('tel', 'Номер телефона', 'phone', '+7 (___) ___-__-__', '', 'settings__phone-input')
                  p.settings__desc Мы предоставляем услуги только в регионах, которые перечислены в списке кодов стран
                .settings__phone-col
                  +button-primary('submit', 'Отправить подтверждение', 'settings__phone-btn')

mixin settings2
  section.settings.container
    .wrapper
      p.settings__heading Настройки
      .settings__head
        p.settings__head-title Настройки
        .settings__head-filter.js-settings-filter
          a.settings__head-filter-item.js-settings-filter-item(href="settings.html") Общие
          .settings__head-filter-inner.js-settings-filter-inner
            a.settings__head-filter-item.js-settings-filter-item(href="security.html") Безопасность
            a.settings__head-filter-item.js-settings-filter-item(href="preferences.html") Предпочтения
            a.settings__head-filter-item.js-settings-filter-item(href="blacklist.html") Чёрный список
            a.settings__head-filter-item.js-settings-filter-item(href="seessions.html") Сессии
            a.settings__head-filter-item.js-settings-filter-item(href="verification.html") Верификация
      .settings__grid
        aside.settings__sidebar
          .settings__filter
            a.settings__link.settings__link--active(href="settings.html") Общие
            a.settings__link(href="security.html") Безопасность
            a.settings__link(href="preferences.html") Предпочтения
            a.settings__link(href="blacklist.html") Чёрный список
            a.settings__link(href="sessions.html") Сессии
            a.settings__link(href="verification.html") Верификация
        main.settings__main
          .settings__col
            form.settings__card(action="")
              +input('email', 'Электронная почта', 'email', 'Введите e-mail', 'tellmeimamazing@gmail.com', 'settings__input')
              +button-primary('submit', 'Отправить потворно')
            form.settings__card(action="")
              +input('text', 'Telegram', 'telegram', 'Имя пользователя Telegram', 'tellmeimamazing@gmail.com', 'settings__input')
              +input('text', 'Skype', 'skype', 'Skype ID', 'tellmeimamazing@gmail.com', 'settings__input')
              +button-primary('submit', 'Сохранить изменения')
          .settings__col
            form.settings__card(action="")
              .settings__phone
                .settings__phone-col
                  +input('tel', 'Номер телефона', 'phone', '+7 (___) ___-__-__', '+7 (963) 495-04-00', 'settings__phone-input')
                  p.settings__desc Мы предоставляем услуги только в регионах, которые перечислены в списке кодов стран
                .settings__phone-col
                  p.settings__phone-code.js-code-title Код
                  p.settings__phone-result.settings__phone-result--success.js-code-result Код введён верно
                  +code('success')
                  +button-tertiary('submit', 'Отправить повторно', 'settings__phone-resend')

mixin settings3
  section.settings.container
    .wrapper
      p.settings__heading Настройки
      .settings__head
        p.settings__head-title Настройки
        .settings__head-filter.js-settings-filter
          a.settings__head-filter-item.js-settings-filter-item(href="settings.html") Общие
          .settings__head-filter-inner.js-settings-filter-inner
            a.settings__head-filter-item.js-settings-filter-item(href="security.html") Безопасность
            a.settings__head-filter-item.js-settings-filter-item(href="preferences.html") Предпочтения
            a.settings__head-filter-item.js-settings-filter-item(href="blacklist.html") Чёрный список
            a.settings__head-filter-item.js-settings-filter-item(href="seessions.html") Сессии
            a.settings__head-filter-item.js-settings-filter-item(href="verification.html") Верификация
      .settings__grid
        aside.settings__sidebar
          .settings__filter
            a.settings__link.settings__link--active(href="settings.html") Общие
            a.settings__link(href="security.html") Безопасность
            a.settings__link(href="preferences.html") Предпочтения
            a.settings__link(href="blacklist.html") Чёрный список
            a.settings__link(href="sessions.html") Сессии
            a.settings__link(href="verification.html") Верификация
        main.settings__main
          .settings__col
            form.settings__card(action="")
              +input('email', 'Электронная почта', 'email', 'Введите e-mail', 'tellmeimamazing@gmail.com', 'settings__input')
              +input('password', 'Введите пароль для изменения почты', 'password', 'Ваш пароль', '', 'settings__input')
              +button-primary('submit', 'Изменить')
            form.settings__card(action="")
              +input('text', 'Telegram', 'telegram', 'Имя пользователя Telegram', 'tellmeimamazing@gmail.com', 'settings__input')
              +input('text', 'Skype', 'skype', 'Skype ID', 'tellmeimamazing@gmail.com', 'settings__input')
              +button-primary('submit', 'Сохранить изменения')
          .settings__col
            form.settings__card(action="")
              .settings__phone
                .settings__phone-col
                  +input('tel', 'Номер телефона', 'phone', '+7 (___) ___-__-__', '+7 (963) 495-04-00', 'settings__phone-input')
                  p.settings__desc Мы предоставляем услуги только в регионах, которые перечислены в списке кодов стран
                .settings__phone-col
                  p.settings__phone-code.js-code-title Код
                  p.settings__phone-result.settings__phone-result--failure.js-code-result Код введён неверно
                  +code('failure')
                  +button-tertiary('submit', 'Отправить повторно', 'settings__phone-resend')

mixin settings4
  section.settings.container
    .wrapper
      p.settings__heading Настройки
      .settings__head
        p.settings__head-title Настройки
        .settings__head-filter.js-settings-filter
          a.settings__head-filter-item.js-settings-filter-item(href="settings.html") Общие
          .settings__head-filter-inner.js-settings-filter-inner
            a.settings__head-filter-item.js-settings-filter-item(href="security.html") Безопасность
            a.settings__head-filter-item.js-settings-filter-item(href="preferences.html") Предпочтения
            a.settings__head-filter-item.js-settings-filter-item(href="blacklist.html") Чёрный список
            a.settings__head-filter-item.js-settings-filter-item(href="seessions.html") Сессии
            a.settings__head-filter-item.js-settings-filter-item(href="verification.html") Верификация
      .settings__grid
        aside.settings__sidebar
          .settings__filter
            a.settings__link.settings__link--active(href="settings.html") Общие
            a.settings__link(href="security.html") Безопасность
            a.settings__link(href="preferences.html") Предпочтения
            a.settings__link(href="blacklist.html") Чёрный список
            a.settings__link(href="sessions.html") Сессии
            a.settings__link(href="verification.html") Верификация
        main.settings__main
          .settings__col
            form.settings__card(action="")
              +input('email', 'Электронная почта', 'email', 'Введите e-mail', 'tellmeimamazing@gmail.com', 'settings__input')
              .settings__email
                +approved('Подтверждена', 'settings__email-approved')
                +button-primary('submit', 'Изменить', 'settings__email-change')
            form.settings__card(action="")
              +input('text', 'Telegram', 'telegram', 'Имя пользователя Telegram', 'tellmeimamazing@gmail.com', 'settings__input')
              +input('text', 'Skype', 'skype', 'Skype ID', 'tellmeimamazing@gmail.com', 'settings__input')
              +button-primary('submit', 'Сохранить изменения')
          .settings__col
            form.settings__card(action="")
              .settings__phone
                .settings__phone-col
                  +input('tel', 'Номер телефона', 'phone', '+7 (___) ___-__-__', '+7 (963) 495-04-00', 'settings__phone-input')
                  p.settings__desc Мы предоставляем услуги только в регионах, которые перечислены в списке кодов стран
                .settings__phone-col
                  +approved('Подтверждён', 'settings__phone-approved')
                  +button-primary('submit', 'Изменить')

mixin settings5
  section.settings.container
    .wrapper
      p.settings__heading Настройки
      .settings__head
        p.settings__head-title Настройки
        .settings__head-filter.js-settings-filter
          a.settings__head-filter-item.js-settings-filter-item(href="settings.html") Общие
          .settings__head-filter-inner.js-settings-filter-inner
            a.settings__head-filter-item.js-settings-filter-item(href="security.html") Безопасность
            a.settings__head-filter-item.js-settings-filter-item(href="preferences.html") Предпочтения
            a.settings__head-filter-item.js-settings-filter-item(href="blacklist.html") Чёрный список
            a.settings__head-filter-item.js-settings-filter-item(href="seessions.html") Сессии
            a.settings__head-filter-item.js-settings-filter-item(href="verification.html") Верификация
      .settings__grid
        aside.settings__sidebar
          .settings__filter
            a.settings__link.settings__link--active(href="settings.html") Общие
            a.settings__link(href="security.html") Безопасность
            a.settings__link(href="preferences.html") Предпочтения
            a.settings__link(href="blacklist.html") Чёрный список
            a.settings__link(href="sessions.html") Сессии
            a.settings__link(href="verification.html") Верификация
        main.settings__main
          .settings__col
            form.settings__card(action="")
              +input('email', 'Электронная почта', 'email', 'Введите e-mail', 'tellmeimamazing@gmail.com', 'settings__input')
              .settings__email
                +approved('Подтверждена', 'settings__email-approved')
                +button-primary('submit', 'Изменить', 'settings__email-change')
            form.settings__card(action="")
              +input('text', 'Telegram', 'telegram', 'Имя пользователя Telegram', 'tellmeimamazing@gmail.com', 'settings__input')
              +input('text', 'Skype', 'skype', 'Skype ID', 'tellmeimamazing@gmail.com', 'settings__input')
              +button-primary('submit', 'Сохранить изменения')
          .settings__col
            form.settings__card(action="")
              .settings__phone
                .settings__phone-col
                  +input('tel', 'Номер телефона', 'phone', '+7 (___) ___-__-__', '+7 (963) 495-04-00', 'settings__phone-input')
                  p.settings__desc Мы предоставляем услуги только в регионах, которые перечислены в списке кодов стран
                .settings__phone-col
                  p.settings__phone-result.settings__phone-result--failure(style="display: block")
                  +input('password', '', 'password', 'Введите ваш пароль', '', 'settings__phone-pass')
                  +button-primary('submit', 'Отправить подтверждение')

mixin settings6
  section.settings.container
    .wrapper
      p.settings__heading Настройки
      .settings__head
        p.settings__head-title Настройки
        .settings__head-filter.js-settings-filter
          a.settings__head-filter-item.js-settings-filter-item(href="settings.html") Общие
          .settings__head-filter-inner.js-settings-filter-inner
            a.settings__head-filter-item.js-settings-filter-item(href="security.html") Безопасность
            a.settings__head-filter-item.js-settings-filter-item(href="preferences.html") Предпочтения
            a.settings__head-filter-item.js-settings-filter-item(href="blacklist.html") Чёрный список
            a.settings__head-filter-item.js-settings-filter-item(href="seessions.html") Сессии
            a.settings__head-filter-item.js-settings-filter-item(href="verification.html") Верификация
      .settings__grid
        aside.settings__sidebar
          .settings__filter
            a.settings__link.settings__link--active(href="settings.html") Общие
            a.settings__link(href="security.html") Безопасность
            a.settings__link(href="preferences.html") Предпочтения
            a.settings__link(href="blacklist.html") Чёрный список
            a.settings__link(href="sessions.html") Сессии
            a.settings__link(href="verification.html") Верификация
        main.settings__main
          .settings__col
            form.settings__card(action="")
              +input('email', 'Электронная почта', 'email', 'Введите e-mail', 'tellmeimamazing@gmail.com', 'settings__input')
              .settings__email
                +approved('Подтверждена', 'settings__email-approved')
                +button-primary('submit', 'Изменить', 'settings__email-change')
            form.settings__card(action="")
              +input('text', 'Telegram', 'telegram', 'Имя пользователя Telegram', 'tellmeimamazing@gmail.com', 'settings__input')
              +input('text', 'Skype', 'skype', 'Skype ID', 'tellmeimamazing@gmail.com', 'settings__input')
              +button-primary('submit', 'Сохранить изменения')
          .settings__col
            form.settings__card(action="")
              .settings__phone
                .settings__phone-col
                  +input('tel', 'Номер телефона', 'phone', '+7 (___) ___-__-__', '+7 (963) 495-04-00', 'settings__phone-input')
                  p.settings__desc Мы предоставляем услуги только в регионах, которые перечислены в списке кодов стран
                .settings__phone-col
                  p.settings__phone-result.settings__phone-result--failure(style="display: block") Неверный пароль
                  +input('password', '', 'password', 'Введите ваш пароль', 'password', 'settings__phone-pass settings__phone-pass--failure')
                  +button-primary('submit', 'Отправить подтверждение')

mixin settings-security
  section.settings.container
    .wrapper
      p.settings__heading Настройки
      .settings__head
        p.settings__head-title Настройки
        .settings__head-filter.js-settings-filter
          a.settings__head-filter-item.js-settings-filter-item(href="security.html") Безопасность
          .settings__head-filter-inner.js-settings-filter-inner
            a.settings__head-filter-item.js-settings-filter-item(href="settings.html") Общие
            a.settings__head-filter-item.js-settings-filter-item(href="preferences.html") Предпочтения
            a.settings__head-filter-item.js-settings-filter-item(href="blacklist.html") Чёрный список
            a.settings__head-filter-item.js-settings-filter-item(href="seessions.html") Сессии
            a.settings__head-filter-item.js-settings-filter-item(href="verification.html") Верификация
      .settings__grid
        aside.settings__sidebar
          .settings__filter
            a.settings__link(href="settings.html") Общие
            a.settings__link.settings__link--active(href="security.html") Безопасность
            a.settings__link(href="preferences.html") Предпочтения
            a.settings__link(href="blacklist.html") Чёрный список
            a.settings__link(href="sessions.html") Сессии
            a.settings__link(href="verification.html") Верификация
        main.settings__main
          .settings__col
            form.settings__card(action="")
              +input('password', 'Текущий пароль', 'password', 'Введите ваш текущий пароль', '', 'settings__input')
              +input('password', 'Новый пароль', 'newPassword', 'Введите новый пароль', '', 'settings__input')
              +input('password', 'Подтвердите пароль', 'newPasswordRepeat', 'Повторите новый пароль', '', 'settings__input')
              +button-primary('submit', 'Изменить пароль')
          .settings__col
            form.settings__card(action="")
              +input('password', 'Код для активации 2ФА', 'twoFactorCode', '', 'H5EUO4SPFZFCQ4CQNRRSY7JKONIHU6DSNRUDEVZ6NR6VER3TLZGA', 'settings__input', {copy: true, toggle: true})
              .settings__qr
                img.settings__qr-image(src="img/inhtml/qr-2.png", alt="")
                p.settings__qr-desc Не показывайте и не отправляйте этот код никому - из-за этого к вашему профилю могут получить несанкционированный доступ злоумышленники
              .settings__twofactor
                +input('password', 'Введите пароль', 'password', 'Введите ваш пароль', '', 'settings__input settings__twofactor-input')
                +button-primary('submit', 'Включить 2ФА', 'settings__twofactor-btn')
            form.settings__card(action="")
              +input('password', 'Токен', 'token', '', '3AzDfas5sKcnbsksxC3eMdMbr3mXnzvgQY', 'settings__input', {copy: true, toggle: true})
              p.settings__token Используйте токен только тогда, когда вы уверены в своих действиях!

mixin settings-security2
  section.settings.container
    .wrapper
      p.settings__heading Настройки
      .settings__head
        p.settings__head-title Настройки
        .settings__head-filter.js-settings-filter
          a.settings__head-filter-item.js-settings-filter-item(href="security.html") Безопасность
          .settings__head-filter-inner.js-settings-filter-inner
            a.settings__head-filter-item.js-settings-filter-item(href="settings.html") Общие
            a.settings__head-filter-item.js-settings-filter-item(href="preferences.html") Предпочтения
            a.settings__head-filter-item.js-settings-filter-item(href="blacklist.html") Чёрный список
            a.settings__head-filter-item.js-settings-filter-item(href="seessions.html") Сессии
            a.settings__head-filter-item.js-settings-filter-item(href="verification.html") Верификация
      .settings__grid
        aside.settings__sidebar
          .settings__filter
            a.settings__link(href="settings.html") Общие
            a.settings__link.settings__link--active(href="security.html") Безопасность
            a.settings__link(href="preferences.html") Предпочтения
            a.settings__link(href="blacklist.html") Чёрный список
            a.settings__link(href="sessions.html") Сессии
            a.settings__link(href="verification.html") Верификация
        main.settings__main
          .settings__col
            form.settings__card(action="")
              +input('password', 'Неверный пароль', 'password', 'Введите ваш текущий пароль', 'password', 'settings__input', {invalid: true})
              +input('password', 'Новый пароль', 'newPassword', 'Введите новый пароль', 'newPassword', 'settings__input', {invalid: true})
              +input('password', 'Пароли не совпадают', 'newPasswordRepeat', 'Повторите новый пароль', 'newpassword', 'settings__input', {invalid: true})
              +button-primary('submit', 'Изменить пароль')
          .settings__col
            form.settings__card(action="")
              +input('password', 'Код для активации 2ФА', 'twoFactorCode', '', 'H5EUO4SPFZFCQ4CQNRRSY7JKONIHU6DSNRUDEVZ6NR6VER3TLZGA', 'settings__input', {copy: true, toggle: true})
              .settings__qr
                img.settings__qr-image(src="img/inhtml/qr-2.png", alt="")
                p.settings__qr-desc Не показывайте и не отправляйте этот код никому - из-за этого к вашему профилю могут получить несанкционированный доступ злоумышленники
              .settings__twofactor
                +input('password', 'Неверный пароль', 'password', 'Введите ваш пароль', 'pass', 'settings__input settings__twofactor-input', {invalid: true})
                +button-primary('submit', 'Включить 2ФА', 'settings__twofactor-btn')
            form.settings__card(action="")
              +input('password', 'Токен', 'token', '', '3AzDfas5sKcnbsksxC3eMdMbr3mXnzvgQY', 'settings__input', {copy: true, toggle: true})
              p.settings__token Используйте токен только тогда, когда вы уверены в своих действиях!

mixin settings-security3
  section.settings.container
    .wrapper
      p.settings__heading Настройки
      .settings__head
        p.settings__head-title Настройки
        .settings__head-filter.js-settings-filter
          a.settings__head-filter-item.js-settings-filter-item(href="security.html") Безопасность
          .settings__head-filter-inner.js-settings-filter-inner
            a.settings__head-filter-item.js-settings-filter-item(href="settings.html") Общие
            a.settings__head-filter-item.js-settings-filter-item(href="preferences.html") Предпочтения
            a.settings__head-filter-item.js-settings-filter-item(href="blacklist.html") Чёрный список
            a.settings__head-filter-item.js-settings-filter-item(href="seessions.html") Сессии
            a.settings__head-filter-item.js-settings-filter-item(href="verification.html") Верификация
      .settings__grid
        aside.settings__sidebar
          .settings__filter
            a.settings__link(href="settings.html") Общие
            a.settings__link.settings__link--active(href="security.html") Безопасность
            a.settings__link(href="preferences.html") Предпочтения
            a.settings__link(href="blacklist.html") Чёрный список
            a.settings__link(href="sessions.html") Сессии
            a.settings__link(href="verification.html") Верификация
        main.settings__main
          .settings__col
            form.settings__card(action="")
              +input('password', 'Текущий пароль', 'password', 'Введите ваш текущий пароль', 'password', 'settings__input')
              +input('password', 'Новый пароль', 'newPassword', 'Введите новый пароль', 'newPassword', 'settings__input', {valid: true})
              +input('password', 'Подтвердите пароль', 'newPasswordRepeat', 'Повторите новый пароль', 'newpassword', 'settings__input', {valid: true})
              +approved('Пароль успешно изменён', 'settings__approved')
              +button-tertiary('submit', 'Отправьте мне его на почту, а то забуду!')
          .settings__col
            form.settings__card(action="")
              +input('password', 'Код для активации 2ФА', 'twoFactorCode', '', 'H5EUO4SPFZFCQ4CQNRRSY7JKONIHU6DSNRUDEVZ6NR6VER3TLZGA', 'settings__input', {copy: true, toggle: true})
              .settings__qr
                img.settings__qr-image(src="img/inhtml/qr-2.png", alt="")
                p.settings__qr-desc Не показывайте и не отправляйте этот код никому - из-за этого к вашему профилю могут получить несанкционированный доступ злоумышленники
              .settings__twofactor
                +input('password', 'Введите пароль', 'password', 'Введите ваш пароль', 'pass', 'settings__input settings__twofactor-input')
                +approved('2ФА успешно включена', 'settings__twofactor-approved')
                +button-close
            form.settings__card(action="")
              +input('password', 'Токен', 'token', '', '3AzDfas5sKcnbsksxC3eMdMbr3mXnzvgQY', 'settings__input', {copy: true, toggle: true})
              p.settings__token Используйте токен только тогда, когда вы уверены в своих действиях!

mixin settings-preferences
  section.settings.container
    .wrapper
      p.settings__heading Настройки
      .settings__head
        p.settings__head-title Настройки
        .settings__head-filter.js-settings-filter
          a.settings__head-filter-item.js-settings-filter-item(href="preferences.html") Предпочтения
          .settings__head-filter-inner.js-settings-filter-inner
            a.settings__head-filter-item.js-settings-filter-item(href="settings.html") Общие
            a.settings__head-filter-item.js-settings-filter-item(href="security.html") Безопасность
            a.settings__head-filter-item.js-settings-filter-item(href="blacklist.html") Чёрный список
            a.settings__head-filter-item.js-settings-filter-item(href="seessions.html") Сессии
            a.settings__head-filter-item.js-settings-filter-item(href="verification.html") Верификация
      .settings__grid
        aside.settings__sidebar
          .settings__filter
            a.settings__link(href="settings.html") Общие
            a.settings__link(href="security.html") Безопасность
            a.settings__link.settings__link--active(href="preferences.html") Предпочтения
            a.settings__link(href="blacklist.html") Чёрный список
            a.settings__link(href="sessions.html") Сессии
            a.settings__link(href="verification.html") Верификация
        main.settings__main
          .settings__card
            .settings__preferences
              p.settings__preferences-title Мои предпочтения:
              +checkbox('preference1', 'settings__preferences-checkbox', false, false, 'Скрыть мои ставки от других пользователей')
              +checkbox('preference2', 'settings__preferences-checkbox', false, true, 'Скрыть всю игровую статистику')
              +checkbox('preference3', 'settings__preferences-checkbox', false, false, 'Скрыть статистику турниров')
              +checkbox('preference4', 'settings__preferences-checkbox', false, true, 'Отказаться от оповещений')