mixin footer
  footer.footer.container
    .wrapper
      .footer__logo
        img(src="img/logo-text.svg", alt="").footer__logo-img
      .footer__inner
        .footer__table
          .footer__col
            p.footer__title Казино
            a.footer__link(href="#") Игры
            a.footer__link(href="#") Вип-клуб
            a.footer__link(href="#") Акции
            a.footer__link(href="#") Главная страница
          .footer__col
            p.footer__title Помощь
            a.footer__link(href="#") Информация о рисках азартных игр
            a.footer__link(href="#") Контроль качества игр
            a.footer__link(href="#") Партнёрская программа
          .footer__col
            p.footer__title Сообщество
            a.footer__link(href="#") Форум
            a.footer__link(href="#") Facebook
            a.footer__link(href="#") Instagram
            a.footer__link(href="#") Vkontakte
          .footer__col
            p.footer__title О нас
            a.footer__link(href="#") Политика конфиденциальности
            a.footer__link(href="#") Условия предоставляемых услуг
            a.footer__link(href="#") Самоисключение
        .footer__info
          .footer__about
            p.footer__copyright EtherGod&trade; is operated by Gambling Club Ltd.
            p.footer__copyright &copy; 2020 EtherGod. All right reserved.
          .footer__age
          p.footer__disclaimer Азартные игры призваны развлекать. Помните, что Вы рискуете деньгами, когда делаете ставки. Не тратьте больше, чем можете позволить себе проиграть!