mixin table
  .table
    .table__head
      p.table__cell Игра
      p.table__cell Пользователь
      p.table__cell Время
      p.table__cell Ставка
      p.table__cell Коэффициент
      p.table__cell Выплата
    .table__row
      p.table__cell(data-icon="dice") Dice
      p.table__cell SeymourBusts
      p.table__cell 03:35:24
      p.table__cell
        span 4.00000000
      p.table__cell 0,00×
      p.table__cell -4.00000000
    .table__row
      p.table__cell(data-icon="dice") Dice
      p.table__cell MrCoin73
      p.table__cell 03:35:24
      p.table__cell
        span 0.00302407
      p.table__cell 100,00×
      p.table__cell.table__cell--win 0.30240700
    .table__row
      p.table__cell(data-icon="dice") Dice
      p.table__cell apealunited
      p.table__cell 03:35:24
      p.table__cell
        span 0.66360000
      p.table__cell 100,00×
      p.table__cell.table__cell--win 0.67037143
    .table__row
      p.table__cell(data-icon="slots") Fire Blaze River Empress
      p.table__cell Alynnt
      p.table__cell 03:35:24
      p.table__cell
        span 5.33400000
      p.table__cell 0,00×
      p.table__cell -5.33400000
    .table__row
      p.table__cell(data-icon="dice") Dice
      p.table__cell Parker123
      p.table__cell 03:35:24
      p.table__cell
        span 0.00027400
      p.table__cell 0,00×
      p.table__cell -0.00027400
    .table__row
      p.table__cell(data-icon="keno") Keno
      p.table__cell.table__cell--hidden
        span Скрытый
      p.table__cell 03:35:24
      p.table__cell
        span 0.00002211
      p.table__cell 0,00×
      p.table__cell -0.00002211
    .table__row
      p.table__cell(data-icon="dice") Dice
      p.table__cell SeymourBusts
      p.table__cell 03:35:24
      p.table__cell
        span 4.00000000
      p.table__cell 0,00×
      p.table__cell -4.00000000
    .table__row
      p.table__cell(data-icon="dice") Dice
      p.table__cell Annealex
      p.table__cell 03:35:24
      p.table__cell
        span 55.96577873
      p.table__cell 0,00×
      p.table__cell -55.96577873
    .table__row
      p.table__cell(data-icon="dice") Dice
      p.table__cell Parker123
      p.table__cell 03:35:24
      p.table__cell
        span 0.00054800
      p.table__cell 1,98×
      p.table__cell.table__cell--win 0.00108504
    .table__row
      p.table__cell(data-icon="dice") Dice
      p.table__cell Annealex
      p.table__cell 03:35:24
      p.table__cell
        span 35.98000000
      p.table__cell 0,00×
      p.table__cell -35.98000000