mixin game-card
  a.game-card(href="#", style="background-image: url('img/inhtml/game-card.png');")
    .game-card__inner
      p.game-card__name Super Black Jack soup
      .game-card__icon
      .game-card__actions
        .game-card__provider Игры EtherGod
        .game-card__info