doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title EtherGod
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      section.container
        .wrapper
          ol
            li
              a(href="main.html") Главная
            li
              a(href="main-unverified.html") Главная (почта не подтверждена)
            li
              a(href="games.html") Игры
            li
              a(href="group.html") Группа игр
            li
              a(href="vip.html") VIP
            li
              a(href="player.html") Плеер
            li
              a(href="search.html") Поиск (Результатов нет)
            li
              a(href="search-results.html") Поиск (Результаты есть)
            li
              a(href="settings.html") Настройки (состояние 1)
            li
              a(href="settings2.html") Настройки (состояние 2)
            li
              a(href="settings3.html") Настройки (состояние 3)
            li
              a(href="settings4.html") Настройки (состояние 4)
            li
              a(href="settings5.html") Настройки (состояние 5)
            li
              a(href="settings6.html") Настройки (состояние 6)
            li
              a(href="security.html") Настройки – Безопасность (состояние 1)
            li
              a(href="security2.html") Настройки – Безопасность (состояние 2)
            li
              a(href="security3.html") Настройки – Безопасность (состояние 3)
            li
              a(href="preferences.html") Настройки – Предпочтения
            li
              a(href="blacklist.html") Настройки – Чёрный список
            li
              a(href="sessions.html") Настройки – Сессии
            li
              a(href="verification.html") Настройки – Верификация
            li
              a(href="verification2.html") Настройки – Верификация (состояние 2)
            li
              a(href="verification3.html") Настройки – Верификация (состояние 3)
            li
              a(href="verification4.html") Настройки – Верификация (состояние 4)