mixin levels
  .levels
    .levels__item
      .levels__item-head
        .levels__item-icon(data-stage="new")
        p.levels__item-title Начинающий
      p.levels__item-desc Ваш прогресс рассчитывается исходя из суммы вашего оборота в казино. Переход на более высокий уровень даёт вам право на повышенные бонусы и эксклюзивное ВИП-обслуживание
    .levels__item
      .levels__item-head
        .levels__item-icon(data-stage="bronze")
        p.levels__item-title Бронза
      p.levels__item-desc Ваш прогресс рассчитывается исходя из суммы вашего оборота в казино. Переход на более высокий уровень даёт вам право на повышенные бонусы и эксклюзивное ВИП-обслуживание
    .levels__item
      .levels__item-head
        .levels__item-icon(data-stage="silver")
        p.levels__item-title Серебро
      p.levels__item-desc Ваш прогресс рассчитывается исходя из суммы вашего оборота в казино. Переход на более высокий уровень даёт вам право на повышенные бонусы и эксклюзивное ВИП-обслуживание
    .levels__item
      .levels__item-head
        .levels__item-icon(data-stage="gold")
        p.levels__item-title Золото
      p.levels__item-desc Ваш прогресс рассчитывается исходя из суммы вашего оборота в казино. Переход на более высокий уровень даёт вам право на повышенные бонусы и эксклюзивное ВИП-обслуживание
    .levels__item
      .levels__item-head
        .levels__item-icon(data-stage="platinum")
        p.levels__item-title Платина
      p.levels__item-desc Ваш прогресс рассчитывается исходя из суммы вашего оборота в казино. Переход на более высокий уровень даёт вам право на повышенные бонусы и эксклюзивное ВИП-обслуживание