mixin code(type)
  .code(class=`${type === 'success' ? 'code--success' : type === 'failure' ? 'code--failure' : ''}`)
    input.code__input(name="code1", placeholder="0", maxlength="1", required)
    input.code__input(name="code2", placeholder="0", maxlength="1", required)
    input.code__input(name="code3", placeholder="0", maxlength="1", required)
    input.code__input(name="code4", placeholder="0", maxlength="1", required)
    input.code__input(name="code5", placeholder="0", maxlength="1", required)