mixin stats
  .stats__tabs.js-stats-tabs
    .stats__tabs-head
      .stats__tabs-grid
        a.stats__tabs-item.stats__tabs-item--active.js-stats-tab(href="javascript:void(0)", data-content="1") Казино
        a.stats__tabs-item.js-stats-tab(href="javascript:void(0)", data-content="2") Топ дня
        a.stats__tabs-item.stats__tabs-item--online.js-stats-tab(href="javascript:void(0)", data-content="3") Турнир
      .stats__tabs-dropdown.js-stats-dropdown
        .stats__tabs-dropdown-item.js-stats-dropdown-item 10
        .stats__tabs-dropdown-inner.js-stats-dropdown-inner
          .stats__tabs-dropdown-item.js-stats-dropdown-item 20
          .stats__tabs-dropdown-item.js-stats-dropdown-item 50
    .stats__tabs-content
      -for (let i = 1; i <= 3; i++)
        .stats__tabs-table.js-stats-content(data-content=i)
          .stats__tabs-table-head
            p.stats__tabs-table-cell Игра
            p.stats__tabs-table-cell Пользователь
            p.stats__tabs-table-cell Время
            p.stats__tabs-table-cell Ставка
            p.stats__tabs-table-cell Коэффициент
            p.stats__tabs-table-cell Выплата
          .stats__tabs-table-row
            p.stats__tabs-table-cell(data-icon="dice") Dice
            p.stats__tabs-table-cell SeymourBusts
            p.stats__tabs-table-cell 03:35
            p.stats__tabs-table-cell
              span 4.00000000
            p.stats__tabs-table-cell 0,00×
            p.stats__tabs-table-cell -4.00000000
          .stats__tabs-table-row
            p.stats__tabs-table-cell(data-icon="dice") Dice
            p.stats__tabs-table-cell MrCoin73
            p.stats__tabs-table-cell 03:35
            p.stats__tabs-table-cell
              span 0.00302407
            p.stats__tabs-table-cell 100,00×
            p.stats__tabs-table-cell.stats__tabs-table-cell--win 0.30240700
          .stats__tabs-table-row
            p.stats__tabs-table-cell(data-icon="dice") Dice
            p.stats__tabs-table-cell apealunited
            p.stats__tabs-table-cell 03:35
            p.stats__tabs-table-cell
              span 0.66360000
            p.stats__tabs-table-cell 100,00×
            p.stats__tabs-table-cell.stats__tabs-table-cell--win 0.67037143
          .stats__tabs-table-row
            p.stats__tabs-table-cell(data-icon="slots") Fire Blaze River Empress
            p.stats__tabs-table-cell Alynnt
            p.stats__tabs-table-cell 03:35
            p.stats__tabs-table-cell
              span 5.33400000
            p.stats__tabs-table-cell 0,00×
            p.stats__tabs-table-cell -5.33400000
          .stats__tabs-table-row
            p.stats__tabs-table-cell(data-icon="dice") Dice
            p.stats__tabs-table-cell Parker123
            p.stats__tabs-table-cell 03:35
            p.stats__tabs-table-cell
              span 0.00027400
            p.stats__tabs-table-cell 0,00×
            p.stats__tabs-table-cell -0.00027400
          .stats__tabs-table-row
            p.stats__tabs-table-cell(data-icon="keno") Keno
            p.stats__tabs-table-cell.stats__tabs-table-cell--hidden
              span Скрытый
            p.stats__tabs-table-cell 03:35
            p.stats__tabs-table-cell
              span 0.00002211
            p.stats__tabs-table-cell 0,00×
            p.stats__tabs-table-cell -0.00002211
          .stats__tabs-table-row
            p.stats__tabs-table-cell(data-icon="dice") Dice
            p.stats__tabs-table-cell SeymourBusts
            p.stats__tabs-table-cell 03:35
            p.stats__tabs-table-cell
              span 4.00000000
            p.stats__tabs-table-cell 0,00×
            p.stats__tabs-table-cell -4.00000000
          .stats__tabs-table-row
            p.stats__tabs-table-cell(data-icon="dice") Dice
            p.stats__tabs-table-cell Annealex
            p.stats__tabs-table-cell 03:35
            p.stats__tabs-table-cell
              span 55.96577873
            p.stats__tabs-table-cell 0,00×
            p.stats__tabs-table-cell -55.96577873
          .stats__tabs-table-row
            p.stats__tabs-table-cell(data-icon="dice") Dice
            p.stats__tabs-table-cell Parker123
            p.stats__tabs-table-cell 03:35
            p.stats__tabs-table-cell
              span 0.00054800
            p.stats__tabs-table-cell 1,98×
            p.stats__tabs-table-cell.stats__tabs-table-cell--win 0.00108504
          .stats__tabs-table-row
            p.stats__tabs-table-cell(data-icon="dice") Dice
            p.stats__tabs-table-cell Annealex
            p.stats__tabs-table-cell 03:35
            p.stats__tabs-table-cell
              span 35.98000000
            p.stats__tabs-table-cell 0,00×
            p.stats__tabs-table-cell -35.98000000