mixin hero
  section.hero.container
    .wrapper
      .hero__wrapper
        p.hero__heading С возвращением, konstantinlonstantin
        p.hero__desc Ваш VIP-прогресс отображается ниже
        .hero__progress
          .hero__progress-bar
            .hero__progress-bar-fill(style="width: 64%")
          .hero__progress-carets
            .hero__progress-caret(data-caret="blue")
            .hero__progress-caret(data-caret="white")
          .hero__progress-stages
            .hero__progress-stage
              .hero__progress-stage-icon(data-stage="new")
              p.hero__progress-stage-text Начинающий
            .hero__progress-stage
              .hero__progress-stage-icon(data-stage="bronze")
              p.hero__progress-stage-text Бронза
        p.hero__desc Отслеживайте свой прогресс, зарабатывайте новые уровни, чтобы получить уникальные&nbsp;бонусы